header {
    width: 100%;
    height: 3.75em;
    @include flex (flex, space-between, center);
    font-weight: bolder;
    padding: 30px 0 20px 0;
    background: $color1;
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);

    @media (max-width: 670px) {
        height: 5em;
    }

    @media (max-width: 607px) {
        height: 10em;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 20px;
    }

    @media (max-width: 391px) {
        height: 11.25em;
        align-items: center;
        justify-content: center;
    }

    .logo{
        color: #000;
        text-decoration: none;
        font-family: $roboto;
        font-size: 1.125em;
        padding-left:10px;
        margin-left: 20px;
        transition: all 0.3s;

        &:hover {
            color:$hoverlink;
        }

        @media (max-width: 741px) {
            margin: 0 10px;
        }

        @media (max-width: 391px) {
            margin-bottom: 10px;
        }
    }


    nav ul{
        display: flex;
        list-style-type: none;

        @media (max-width: 391px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        li:nth-of-type(4) {
            @media (max-width: 391px) {
                margin-top: 10px;
                margin-right: 150px;
            }
        }

        li a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.789);
            font-size: 1.1em;
            font-weight: 300;
            margin-right: 10px;
            padding: 12px 20px;
            transition: all 0.3s;

            @media (max-width: 741px) {
                padding: 12px 10px;
            }

            &:hover {
                color:$hoverlink;
            }
        }
    }

    .contato {
        font-family: $roboto;
        background: $bgbt;
        color: $color1;
        text-decoration: none;
        font-size: 0.87em;
        padding: 14px 30px;
        margin: -13px 10px 0 10px;
        border-radius: 30px;
        transition: all 0.3s;

        &:hover {
            background:$btnhover;
        }
   
        @media (max-width: 607px) {
            margin: 5px 10px 0 10px;
        }

        @media (max-width: 391px) {
            margin: 10px 10px 0 10px;
        }
    }
}
